/***************************************************************************************************/
/* -VARIABLES- */
/***************************************************************************************************/
:root {
    /* Midnight Blue */
    --color-1: hsl(215, 81%, 15%);
    --color-1h: hsl(215, 81%, 25%);
    /* Steel Blue */
    --color-2: hsl(205, 71%, 40%);
    --color-2h: hsl(205, 71%, 50%);
    /* White */
    --color-3: hsl(0,0%,100%);
    --color-3h: hsl(0,0%,85%);
    /* Teal */
    --color-4: hsl(180,97%,26%);
    --color-4h: hsl(180,97%,36%);
    /* Dim Gray */
    --color-5: hsl(0,0%,39%);
    --color-5h: hsl(0,0%,29%);

    --box-shadow: 0px 3px 5px 0px var(--color-5);
}

/***************************************************************************************************/
/* -COLORES- */
/***************************************************************************************************/

/* -BACKGROUND- */
.bg-1 {
    background: var(--color-1)!important;
}
.bg-2 {
    background: var(--color-2)!important;
}
.bg-3 {
    background: var(--color-3)!important;
}
.bg-4 {
    background: var(--color-4)!important;
}
.bg-5 {
    background: var(--color-5)!important;
}

/* -COLOR- */
.color-1 {
    color: var(--color-1)!important;
}
.color-1 {
    color: var(--color-2)!important;
}
.color-1 {
    color: var(--color-3)!important;
}
.color-1 {
    color: var(--color-4)!important;
}
.color-1 {
    color: var(--color-5)!important;
}

/* -SHADOW- */
.shadow {
    box-shadow: var(--box-shadow)!important;
}
.shadow-hover:hover {
    box-shadow: var(--box-shadow)!important;
}

/***************************************************************************************************/
/* -CAROUSEL- */
/***************************************************************************************************/
